
body{
    font-family: 'Arapey', serif;

}

.lista{
    font-family: 'Arapey', serif;

}

li{
    list-style: none;
    /* text-align: left; */
    /* margin-bottom: 2px; */
    font-size: 30px;
    border: 1px solid;
    margin-bottom: 5px;
    font-family: 'Arapey', serif;
}

form{
    font-family: 'Arapey', serif;
}

.container{
    font-size: large;
    margin: 0 auto;
    width: 900px;
    font-family: 'Arapey', serif;

}

.result{
    color:#FF0000;
    font-size: 30px;
    font-size: bold;
    text-align: center;
}

h1,h3 {
    text-align: center;
}

button{
    margin-left: 38%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color:red; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

    font-size: 16px;
    
    

}
ul{
    font-family: 'Arapey', serif;

}

#img{
    margin-left: 33%;
    
}
